name: GitHub Metrics

on:
  # Akcja uruchomi się automatycznie raz dziennie o północy
  schedule:
    - cron: '0 0 * * *'
  # Pozwala też na ręczne uruchomienie z zakładki "Actions" w repozytorium
  workflow_dispatch:

jobs:
  # ZADANIE 1: Generowanie kalendarza izometrycznego
  calendar_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Pozwolenie na zapisanie pliku .svg
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: metrics.plugin.isocalendar.svg  # <-- Obrazek 1
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

  # ZADANIE 2: Generowanie statystyk w stylu terminala
  terminal_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Pozwolenie na zapisanie pliku .svg
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: metrics.terminal.svg   # <-- Obrazek 2
          template: terminal              # Użyj szablonu terminala
          base: header, metadata          # Pokaż nagłówek i metadane (jak w przykładzie)
